@charset "UTF-8";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 640px;
    min-height: 720px;
}

#street-view {
    height: 100%;
}

.overlay-title {
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.overlay {
    pointer-events: none;
    opacity: 0.3;
    position: absolute;
    z-index: 999;
}

#overlay-float {
    position: absolute;
    top: 28px;
    left: 50%;
    width: 300px;
    height: 45px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 1000;
    display: none;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

#overlay-msg {
    color: #202020;
    background-color: #fff;
    border-radius: 25px;
    margin: 0;
    padding: 10px 20px;
}

#overlay-tl {
    /* background: #e60012; */
    top: 0;
    left: 0;
    width: 320px;
    height: 240px;
}

#overlay-tc {
    background: #f39800;
    top: 0;
    left: 320px;
    right: 320px;
    width: calc(100% - 640px);
    height: 240px;
}

#overlay-tr {
    background: #fff100;
    top: 0;
    right: 0;
    width: 320px;
    height: 240px;
}

#overlay-l {
    background: #009944;
    bottom: 0;
    left: 0;
    width: 20%;
    height: calc(100% - 240px);
}

#overlay-cc {
    background: #0068b7;
    top: 240px;
    bottom: 25%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: calc(100% - 480px);
}

#overlay-r {
    background: #1d2088;
    bottom: 0;
    right: 0;
    width: 20%;
    height: calc(100% - 240px);
}

#overlay-bc {
    background: #920783;
    bottom: 0;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 240px;
}
